@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #BFBFBF, #737373);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0D0D0D;
    text-align: center;
}

p {
    text-align: justify;
}